/*** Shivam Code **/
.mlogo {
	/**	border: 3px solid;
    border-radius: 50%; **/
	font-size: 59px;
	color: #32415c;
	margin-top: 0px;
	text-align: center;
	width: 60px;
	position: fixed;
}

.navbar-default {
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-default a {
	font-size: 16px;
}
/*Class for transition*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.morph {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.nav-pic {
    border-radius: 20%;
    height: 44px;
    overflow: hidden;
    width: 44px;
}

.morph:hover {
	/*  border-radius: 80%; */
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.icon-pic {
	height: 45px;
	width: 45px;
}

.dropdown-menu {
	min-width: 120px !important;
}

.dropdown-menu>li>a {
	padding: 0px !important;
}

.info-container {
	margin-top: 50px;
}

.container-title {
	font-size: 36px;
	text-transform: uppercase;
}

.skill-list {
	list-style: none;
}

.skill-list>li {
	display: inline-block;
	border-radius: 5%;
	color: #ffffff;
	font-size: 15px;
	margin: 7px;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
}
/**
.skill-list>li:nth-child(odd) {
	background-color: #c29453;
}

.skill-list>li:nth-child(even) {
	background-color: #299029; */
}

.abt {
	text-align: center;
}

.home {
	height: 500px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

.home-animate { 
	-webkit-animation: animatezoom 2s;
	animation: animatezoom 2s;
	-moz-animation: animatezoom 2s;
	-o-animation: animatezoom 2s;
}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@-moz-keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@-webkit-keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}


.home h1 {
	font-weight: 600;
	font-size: 65px;
	color: #15294d;
}

.home p {
	font-size: 28px;
	-webkit-animation: changeColor 5s infinite; /* Safari 4+ */
    -moz-animation: changeColor 5s infinite; /* Fx 5+ */
    -o-animation: changeColor 5s infinite; /* Opera 12+ */
    animation: changeColor 10s infinite; /* IE 10+ */
}



@keyframes changeColor{from{color: maroon;} to{color: purple;}}
@-moz-keyframes changeColor{from{color: maroon;} to{color: purple;}}
@-webkit-keyframes changeColor{from{color: maroon;} to{color: purple;}}

.scroll-page {
	color: red;
    position: fixed;
    right: .4%;
    top: 80%;
    z-index: 5;
}

.home-logo {
	display: none;
	color: red;
	position: fixed;
	z-index: 5;
}

.scroll-page img {
	height: 35px;
	width: 35px;
}

.scroll-page img:HOVER {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

@media only screen and (min-width : 768px) {
	/* Make Navigation Toggle on Desktop Hover */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	
	
.footerMe {
	height: 230px;
	margin-top: 5px;
	padding: 60px;
	text-align: center;
	background-color: #161616;
	}
	.footerMe p{
	color: #ffffff;
	font-size: 14px;
 }
}
/* Media csss for responsive*/
@media screen and (max-width: 480px) {
        .home h1 {
    font-size:48px;
    }
	.home p{
		font-size: 20px;
	}
	.skill-list > li {
		font-size: 16px;
	}
	.container-title {
    font-size: 28px;
	}
	.icon-pic {
		height: 35px;
		width: 35px;
	}
	.nav-pic {
    border-radius: 20%;
    height: 35px;
    overflow: hidden;
    width: 35px;
}
	.footerMe {
	text-align: center;
	margin-top: 15px;
	background-color: black;
	color: #ffffff;
	padding: 27px;
	height: 200px;
	}

}